<% provide(:title, 'About') %>

<div class="container well col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
	<h1>About</h1>
	<p>
		This webapp was built with <%= link_to "Ruby on Rails", "http://rubyonrails.org/", :target => "_blank" %> by Justin White using:
		<ul>
			<li><%= link_to "Rails 4.0", "http://rubyonrails.org/", :target => "_blank" %></li>
			<li><%= link_to "Ruby 2.0", "https://www.ruby-lang.org/en/", :target => "_blank" %></li>
			<li><%= link_to "Twitter Bootstrap 3.0.2", "http://getbootstrap.com/", :target => "_blank" %></li>
			<li><%= link_to "GitHub", "http://github.com/", :target => "_blank" %></li>
			<li><%= link_to "Heroku", "http://heroku.com/", :target => "_blank" %></li>
			<li><%= link_to "Lavish Bootstrap", "http://www.lavishbootstrap.com/", :target => "_blank" %></li>
			<li><%= link_to "Unsplash", "http://unsplash.com/", :target => "_blank" %></li>
		</ul>
		Special Thanks to <%= link_to "Michael Hartl", "http://www.michaelhartl.com/", :target => "_blank" %> for his amazing Ruby on Rails <%= link_to "tutorial", "http://ruby.railstutorial.org/", :target => "_blank" %>.
	</p>
</div>