<% provide(:title, 'Projects') %>

<div class="container well col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
	<h1>Projects</h1>
	<div class="row">
          	<div class="col-6 col-sm-6 col-lg-4">
                <h2>Where's the Storm?</h2>
          		<div class="thumbnail">
           			<%= image_tag("http://i.imgur.com/PCAKMYm.jpg") %>
            		<div class="caption">
	              		<p>Where's the Storm? is a webapp created to help you determine when the next storm is coming to your doorstep. Enter an address or a city, and find the forecast.</p>
	              		<p><a class="btn btn-default" href="http://wheresthestorm.com" role="button">Find a storm &raquo;</a></p>
            		</div>
          		</div>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>YMEN Database Application</h2>
              <div class="thumbnail">
                <%= image_tag("http://i.imgur.com/pr1AKyN.png") %>
                <div class="caption">
                    <p>The YMEN Database App was created during a 20-week DePaul Senior Capstone. Project Assistant for the Database section of the YMEN project. My team and I created a cloud accesible database for our client <a href="http://www.ymenchicago.com">YMEN</a> to use and to replace their current excel spreadsheet. This system allows any staff to update information inside the databse from any internet connected device, and to have a single source of information for YMEN to use.</p>
                    <p><a class="btn btn-default" href="https://ymen.depaulccts.org" role="button">View a demo YMEN Database App &raquo;</a></p>
                </div>
              </div>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>DePaul Circuit Simulator</h2>
              <div class="thumbnail">
                <%= image_tag("http://circuits.siteground.net/img/e-cuff.png") %>
                <div class="caption">
                    <p>This is an e-Textile Circuit Drawing Application devleoped for <a href="http://www.cdm.depaul.edu">DePaul University</a> and <a href="http://digitalyouthnetwork.org/">Digital Youth Network</a>. It was created to help young girls develop skills creating e-Textile Circuitry. </p>
                    <p><a class="btn btn-default" href="http://circuits.siteground.net/" role="button">Try the online ciruit simulator &raquo;</a></p>
                </div>
              </div>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>GameDB</h2>
          		<div class="thumbnail">
           			<%= image_tag("http://i.imgur.com/8tkgUa1.png") %>
            		<div class="caption">
	              		<p>GameDB is a webapp designed to give users a web database of video game information. Similar <%= link_to "IMDb", "http://imdb.com" %>, but focused on video games. This webapp was made during the fall of 2013 for a DePaul Project Managment course lead by <%= link_to "Professor Adelakun", "http://facweb.cs.depaul.edu/yele/" %>.</p>
	              		<p><a class="btn btn-default" href="http://game-db.herokuapp.com" role="button">Find games here &raquo;</a></p>
            		</div>
          		</div>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
            <h2>PhotoCloud (Defunct)</h2>
          		<div class="thumbnail">
           			<%= image_tag("http://i.imgur.com/qSM1Q64.jpg") %>
            		<div class="caption">
	              		<p>PhotoCloud is a (now defunct) webapp created to make group photo albums. If you've ever been to an event with your family or friends and just wanted to have one single place for everyone to share a collective photo album, while still owning all your photos, PhotoCloud is for you.</p>
	              		<p><a class="btn btn-default" href="http://photocloud.herokuapp.com" role="button">Start Making Shared Albums &raquo;</a></p>
            		</div>
          		</div>
            </div><!--/span-->
         
          </div><!--/row-->
</div>