<!DOCTYPE html>
<html>
  <head>
    <title>Justin White | <%= yield(:title) %></title>
    <link rel="shortcut icon" href="http://i.imgur.com/jYLLt5x.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- iPad (Retina) -->
    <link rel="apple-touch-icon"
      sizes="144x144"
      href="http://i.imgur.com/jYLLt5x.png">
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    
  </head>
  <body id="siteBackground">

    <%= render "layouts/navbar" %>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>